  <%- include('header') %>
  <h2>Admin:</h2>
    <div>
      <ul>
        <li><a href="/admin/categories">Manage categories</a></li>
        <li><a href="/admin/vacancies">Manage vacancies</a></li>
      </ul>
    </div>
  <%- include('footer') %>
  
