  <%- include('header') %>
  <h2>
    New Vacancy |
    <a href="/admin/categories">Category</a>
  </h2>
  <form method="POST" class="new-vacancy-form">
    <label>Category:</label>
    <input type="text" name="category">
    <button>Save Category</button>
  </form>
  <%- include('footer') %>
  
