  <%- include('header') %>
  <h2>
    New Vacancy |
    <a href="/admin/vacancies">Vacancy</a>
  </h2>
  <form method="POST" class="new-vacancy-form">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <label>Category:</label>
    <select name="category">
      <% categories.forEach( category => { %>
        <option value="<%- category.id %>"><%- category.category %></option>
      <% })%>
    </select>
    <button>Save Vacancy</button>
  </form>
  <%- include('footer') %>
  
